.editarNaver {
    display: flex;
    flex: 1;

    align-items: center;
    flex-direction: column;
}

.editarNaver > header {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    height: 5.3rem;
}

.editarNaver > header > img{
    max-width: 100%;
    margin-left: 2rem;
    max-width:9rem;
    max-height:2.3rem;
    width: auto;
    height: auto;
}

.editarNaver > header > button {
    margin-top: 2rem;
    padding-bottom: 2rem;
    position: fixed;
    right: 0;
    margin-right: 2rem;

    font-weight: 600;
    color: #000;

    background-color: transparent;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.editarNaver > div {
    width: 37.5rem;
    height: 24rem;
    margin-top: 2.3rem;
}

.editarNaver > div > section {
    display: flex;
    align-items: center;
}

.editarNaver > div > section > button{
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.editarNaver > div > section > h1{
    margin-left: 1.4rem;
    margin-bottom: 0.1rem;

    color: #212121;
}

.editarNaver > div > form{
    display: grid;
    grid-template-rows: 19rem 3rem;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
}

.editarNaver > div > form > div {
    height: 21rem;
}

.editarNaver > div > form > div > p{
    margin-top: 2rem;
    margin-bottom: 0.25rem;
    
    font-weight: 600;
    color: #212121;
}

.editarNaver > div > form > div > input{
    width: 17.5rem;
    height: 2.5rem;

    padding-left: 0.5rem;
    font-weight: 400;
    font-size: 1.125rem;

    border-color: #424242;
    border-style: solid;
    border-width: 1px;
}

.editarNaver > div > form > div{
    height: 0%;
}

.editarNaver > div > form > button{
    width: 11rem;
    height: 2.5rem;

    margin-left: 6.5rem;
    margin-top: 1rem;
    
    background-color: #212121;
    color: #fff;
    font-weight: 600;
}