::-webkit-scrollbar{
    display: none;
}

.home {
    flex: 1;
}

.home > header {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    height: 5.3rem;
}

.home > header > button {
    margin-top: 1.875rem;
    padding-bottom: 2rem;
    margin-right: 2rem;

    font-weight: 600;
    color: #000;

    background-color: transparent;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.home > header > img {
    max-width: 100%;
    margin-top: 1.5rem;
    margin-left: 2rem;
    max-width:9rem;
    max-height:2.3rem;
    width: auto;
    height: auto;
}

.home > div {
    display: flex;
    justify-content: space-between;

    margin-top: 2.5rem;
    margin-bottom: 1.25rem;
}

.home > div > h1 {
    margin-left: 2rem;
    
    font-weight: 600;
    font-size: 2.5rem;
    color: #212121;
}

.home > div > button {
    width: 11rem;
    height: 2.5rem;
    margin-right: 2rem;

    background-color: #212121;
    transition: all 0.2s;

    font-weight: 600;
    font-size: 0.875rem;
    color: #fff;
}

.home > div > button:hover {
    opacity: 0.9;
}

.home > ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    list-style-type: none;
}

@media(max-width: 1230px) {
    .home > ul {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media(max-width: 890px) {
    .home > ul {
        grid-template-columns: repeat(2, 1fr);
    }
}

.home > ul > li {
    width: 17.5rem;
    height: 23.5rem;

    margin-left: 2rem;
    margin-bottom: 2rem;
}

.home > ul > li > img {
    width: 17rem;
    height: 17rem;

    margin-top: 0.75rem;
}

.home > ul > li > p:first-of-type{
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: 0.25rem;
}

.home > ul > li > p:last-of-type{
    font-weight: 400;
    margin-bottom: 0.82rem;
}

.home > ul > li > div > button {
    border: none;
    margin-right: 1rem;
    cursor: pointer;
    background-color: transparent;
}