@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

*{
    margin:0;
    padding:0;
    outline:0;
    box-sizing:border-box;
}

@media(max-width: 1080px) {
    html {
        font-size: 93.75%;
    }
}

@media(max-width: 720px) {
    html {
        font-size: 85.25%;
    }
}

body {
    background: #ffffff;
}

body,
input,
textarea,
button {
    font: 400 1rem 'Montserrat', sans-serif;
}